{% extends 'base.html' %}
{% load static %}

{% block content %}

<center>
    <h2 style="background-color:whitesmoke;">FAKULTAS TEKNIK</h2>
</center>

<p></p>
<center>
    <img src="https://mediacdn.quipper.com/media/W1siZiIsIjIwMTgvMDEvMjMvMDkvMzQvMDUvNzdlOTI0NmYtMzVlZS00M2EzLWE2OWUtODM4ZjE4NTA5NzEzLyJdLFsicCIsInRodW1iIiwiMTIwMHhcdTAwM2UiLHt9XSxbInAiLCJjb252ZXJ0IiwiLWNvbG9yc3BhY2Ugc1JHQiAtc3RyaXAiLHsiZm9ybWF0IjoianBnIn1dXQ?sha=78a093c8ecf0641d" alt="Fakultas teknik" width="500px">
</center>

<p></p>
<h3 style="background-color:rgba(23, 91, 108, 0.831);">Sejarah</h3>
<p style="font-family: 'times new roman'">{{ gbrumum }}</p>

<h3 style="background-color:rgba(23, 91, 108, 0.831);">Program Studi</h3>
<p style="font-family: 'times new roman'">
{% for judul in jdl %}
    <li>{{ judul }}</li>
{% endfor %}
</p>

{% endblock %}