{% extends 'base.html' %}
{% load static %}

{% block content %}
    <center>
        <h2 style="background-color:whitesmoke;">FAKULTAS HUKUM</h2>
    </center>

    <p></p>
    <center>
    <img src="https://awsimages.detik.net.id/community/media/visual/2021/03/04/resmikan-kampus-untirta-jokowi-bicara-dua-sosok-teladan-di-banten_43.png?w=1200" alt="Gambar FH" width="500px">>
    </center>

    <p></p>
    <h3 style="background-color:rgba(23, 91, 108, 0.831);">Sejarah</h3>
    <p style="font-family: 'times new roman'">{{ gbrumum }}</p>
   
    <h3 style="background-color:rgba(23, 91, 108, 0.831);">Program Studi</h3>
    <p style="font-family: 'times new roman'">{{ prodi }}</p>
    
{% endblock %}