{% extends 'base.html' %}
{% load static %}

{% block content %}

<center>
    <h2 style="background-color:whitesmoke;">Biodata Diri</h2>
</center>

<p></p>
<center>
    <img src="https://scontent.fcgk23-1.fna.fbcdn.net/v/t39.30808-6/308184234_824469422240931_4509757056048299590_n.jpg?stp=dst-jpg_p843x403&_nc_cat=106&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=eaextt4rvHgAX8eufx5&_nc_ht=scontent.fcgk23-1.fna&oh=00_AT9ji87OCwk28TKkgDxVCyB9CLnatb4MxSXttQpO4Q8EPQ&oe=63382D62" alt="me" width="200px">
</center>

<p></p>
<h3 style="background-color:rgba(23, 91, 108, 0.831);">Biodata Penulis</h3>
<p style="font-family: 'times new roman'">Nama  : Nindy Avisa Candra Diva</p>
<p style="font-family: 'times new roman'">NIM   : 2225210058</p>
<p style="font-family: 'times new roman'">Kelas : 3C</p>
<p style="font-family: 'times new roman'">Dosen Pengampu : Aan Hendrayana</p>
<hr />

<footer>
    <div class="font-small">&copy; Teknologi Informasi dan Komunikasi Untuk Pembelajaran</div> 
    <div class="font-small">@nndyavs</div>
</footer>


{% endblock %}