{% extends 'base.html' %}

{% block content %}

    <center>
        <h2 style="background-color: whitesmoke;">UNIVERSITAS SULTAN AGENG TIRTAYASA</h2>  
    </center>

    <p></p>
    <center><img src="https://2.bp.blogspot.com/-MFMyP2NHODE/WeYlRIl1uUI/AAAAAAAAHLY/1U_iy-SvYQgynCrdXMfEVuNid9JZhNxwQCLcBGAs/w1200-h630-p-k-no-nu/1.jpg" alt="Logo Untirta" width="500px"></center>

   <p></p>
    <p style="font-family: 'times new roman'">Universitas Sultan Ageng Tirtayasa atau biasa dipanggil dengan Untirta, merupakan Perguruan Tinggi Negeri (PTN) yang terletak di Provinsi Banten, Indonesia. Kampus utama Untirta terletak di Kabupaten Serang, kampus Fakultas Teknik di Kota Cilegon, dan Fakultas Keguruan dan Ilmu Pendidikan di Ciwaru, Kota Serang. Alamat: Jl. Raya Palka No.Km 3, Panancangan, Kec. Cipocok Jaya, Kabupaten Serang, Banten 42124, Indonesia</p>
    <p style="font-family: 'times new roman'">Nama Untirta ini berasal dari nama Sultan Ageng Tirtayasa, yaitu pemimpin Banten pada periode 1651-1683.  Sultan Ageng Tirtayasa juga memiliki gelar Pahlawan Nasional yang diberikan oleh pemerintah sesuai SK Presiden RI No. 045/TK/Th 1970, pada 1 Agustus 1970. Lahirnya Untirta (Universitas Sultan Ageng Tirtayasa) berawal dari dibangunnya Yayasan Pendidikan Tirtayasa pada 1 Oktober 1980. Mulanya, Yayasan Pendidikan Tirtayasa membangung Sekolah Tinggi Ilmu Hukum (STIH) tahun 1981, lalu pada tahun 1982 didirikan Sekolah Tinggi Keguruan dan Ilmu Pendidikan (STKIP).</p>
    <p style="font-family: 'times new roman'">Bersamaan dengan didirikannya STKIP, didirikan pula Sekolah Tinggi Teknik (STT) oleh Yayasan Krakatau Steel Cilegon. STT ini kemudian bergabung bersama Yayasan Pendidikan Tirtayasa, hingga akhirnya beridiri Universitas Tirtayasa Serang, Banten. Jadi, Untirta ini merupakan gabungan antara STIH, STT dan STKIP. Setelah bergabung, masing-masing status sekolah tingging berubah menjadi fakultas. Hal ini tertuang dalam SK Mendikbud RI pada 28 November 1984. Adapun Fakultas-Fakultas tersebut yaitu Fakultas Teknik, Fakultas Hukum serta Fakultas Ilmu Keguruan dan Ilmu Pendidikan (FKIP). Lalu, pada tahun 1989, Untirta menambah Fakultas Ekonomi dan Fakultas Pertanian. Dan pada tahun-tahun berikutnya, ada penambahan beberapa fakultas.</p>

    
    <hr />
    <footer>
        <div class="font-small">&copy; 2022 UNTIRTA by Nindy Avisa Candra Diva</div> 
    </footer>
{% endblock %}